* {
    padding: 0;
    margin: 0;
    /* outline: solid red; */
}

.heart-logo {
    width: 58px;
    height: 69px;
}

body {
    background-color: #FFEEEE;
}

.btn-heart {
    background-color: transparent;
    border: none;
}

.btn-wpp {
    background-color: transparent;
    border: none;
}

header {
    margin-top: 24px;
    margin-left: 128px;
}

.div-doar {
    margin-top: 50px;
    height: 75px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 75px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.main {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-cifrao {
    width: 350px;
    height: auto;
    opacity: 70%;
    margin-top: 50px;
}

.img-boneco {
    width: 300px;
    height: auto;
    margin-top: 70px;
    margin-left: 15px;
}

.cifrao {
    width: 500px;
    height: 430px;
    background-color: #F4CECE;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}

.boneco {
    width: 500px;
    height: 430px;
    background-color: #F4CECE;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}

.help {
    width: 500px;
    height: 430px;
    background-color: #F4CECE;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    text-align: center;
    line-height: 50px;
}

.pay {
    width: 500px;
    height: 430px;
    background-color: #F4CECE;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    text-align: center;
    line-height: 50px;
}

input[type=checkbox] {
    display: none;
}

.iconheart {
    
    display: flex;
    justify-content: center;
}

.div-sabia {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    height: 350px;
    align-items: end;
}

.sabiaChild {
    background-color: red;
    width: 250px;
    height: 25px;
    border-radius: 20px 20px 0 0;
}

.sabiaChild:hover {
    transition: 1.5s;
    height: 350px;
}

.p1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: transparent;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 50px;
    height: 350px;
    transition: 1.5s;
}

.p1:hover {
    color: #FFFFFF;
}