* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    /* outline: solid red; */
}

.heart-logo {
    width: 58px;
    height: 69px;
}

body {
    background-color: #FFEEEE;
}

.btn-heart {
    background-color: transparent;
    border: none;
}

.btn-wpp {
    background-color: transparent;
    border: none;
}

header {
    margin-top: 24px;
    margin-left: 128px;
}

.div-doar {
    margin-top: 50px;
    height: 75px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 75px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.main {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img-cifrao {
    width: 350px;
    height: auto;
    opacity: 70%;
    margin-top: 50px;
}

.img-boneco {
    width: 300px;
    height: auto;
    margin-top: 70px;
    margin-left: 15px;
}

.cifrao {
    width: 40%;
    height: 430px;
    background-color: #F4CECE;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}

.boneco {
    width: 40%;
    height: 430px;
    background-color: #F4CECE;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}

.help {
    width: 40%;
    height: 430px;
    background-color: #F4CECE;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    text-align: center;
    line-height: 50px;
}

.pay {
    width: 40%;
    height: 430px;
    background-color: #F4CECE;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
    text-align: center;
    line-height: 50px;
}

input[type=checkbox] {
    display: none;
}

.iconheart {

    display: flex;
    justify-content: center;
}

.div-sabia {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    height: 250px;
    align-items: end;
}

.sabiaChild {
    display: flex;
    justify-content: center;
    background-color: #b70d21;
    width: 145px;
    height: 25px;
    border-radius: 20px 20px 0 0;

}

.sabiaChild:hover {
    transition: 0.5s;
    height: 150px;
    background-color: transparent;
}

.p1 {
    display: flex;
    z-index: -100;
    justify-content: center;
    text-align: center;
    height: 150px;
    transition: 0.5s;
}

.esconder {
    display: flex;
    height: 150px;
    width: 100%;
    z-index: 100;
    background-color: #fceced;
}


@media (max-width: 600px) {

   
    .div-doar {
        margin-top: 40px;
        font-size: 12px;

    }

    .cifrao {
        height: 350px;
        width: 200px;
        padding-right: 10px;
    }

    .img-cifrao {
        display: flex;
        height: 270px;
    }

    .boneco {
        height: 350px;
        width: 200px;
    }

    .img-boneco {
        height: 270px;
        width: 200px;
        justify-content: center;
    }

    header {
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 55px;
        padding: 0;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .div-sabia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 250px;
        width: 100%;
        height: 100%;
        
       
    }

    .sabiaChild {
        background-color: transparent;
    }

    .sabiaChild img {
        height: 950%;
       
    }
    .esconder {
        display: none;
    }

}

@media (min-width: 601px) and (max-width: 900px) {
   
    .div-doar {
        margin-top: 40px;
        font-size: 12px;

    }

    .cifrao {
        height: 350px;
        width: 240px;
        padding-right: 10px;
    }

    .img-cifrao {
        display: flex;
        height: 270px;
    }

    .boneco {
        height: 350px;
        width: 250px;
    }

    .img-boneco {
        height: 270px;
        width: 200px;
        justify-content: center;
    }

    header {
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90px;
        margin: 0px;
        
        
    }

   
}