* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    /* border: solid red; */
}

.heart-logo {
    width: 58px;
    height: 69px;
}

body {
    background-color: white;
}

.btn-heart {
    background-color: transparent;
    border: none;
}

.btn-wpp {
    background-color: transparent;
    border: none;
}

header {
    margin-top: 24px;
    margin-left: 128px;
}

.quero {
    margin-top: 50px;
    height: 75px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 75px;
    letter-spacing: 0.1em;
    color: #75B91D;
}

#p1 {
    color: darkgreen;
    margin-top: -34px;
    font-size: 18px;
}

.iconInitgroup {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 10%;
}

.iconInitgroup i {
    font-size: 170px;

}

@media (max-width: 600px) {
    h1 {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 40px;
    }

    .quero> p {
        font-size: 10px;
        line-height: normal;
    }
}

body {
    margin-left: 20px;
    margin-right: 20px;
}

.sabiaChild {
    background-color:transparent;
}



@media (min-width: 601px) and (max-width: 900px) {
   
.bx-group {
    margin-top: -30px;
}

h1 {
    font-size: 40px;
}
header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 40px 0;

}
   
}