* {
    padding: 0;
    margin: 0;
    /* outline: solid red; */
}

.heart-logo {
    width: 58px;
    height: 69px;
}

body {
    background-color: #fff;
}

.btn-heart {
    background-color: transparent;
    border: none;
}

.btn-wpp {
    background-color: transparent;
    border: none;
}

header {
    margin-top: 24px;
    margin-left: 128px;
}

.div-youtube {
    margin-top: 50px;
    height: 75px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 75px;
    letter-spacing: 0.1em;
    color: #aa14cc;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}