* {
    padding: 0;
    margin: 0;
    /* border: solid red; */
}

.heart-logo {
    width: 58px;
    height: 69px;
}

body {
    background-color: white;
}

.btn-heart {
    background-color: transparent;
    border: none;
}

.btn-wpp {
    background-color: transparent;
    border: none;
}

header {
    margin-top: 24px;
    margin-left: 128px;
}

.quero {
    margin-top: 50px;
    height: 75px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 75px;
    letter-spacing: 0.1em;
    color: #75B91D;
}

#p1 {
    color:darkgreen;
    margin-top: -34px;
    font-size: 18px;
}

.modal {
    position: relative;
    width: 400px;
    height: 300px;
    border: 1px solid darkgreen;
    padding: 15px 30px;
    
    
}

.modalClose {
    display: none;
}

.modalOpen {
    
    position: absolute;
    top: 10%;
    left: 38%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 155, 40);
    height: 1700px;
    border-radius: 15px;
    border-color: aquamarine;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    position: relative;
      
}



.modalOpen button {
    position: relative;
    left: 10%;
    width:80%;
    margin-bottom: 50px;
    cursor: pointer;
    border-color: none;
    height: 5vh;
    border-radius: 8px;
    background-color: darkgreen;
    color: white;
}

.iconInitgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.iconInitgroup i {
    font-size: 170px;

}

.modal-title {
    font-size: 20px;
    color: rgb(130, 215, 130);
}

.btnOpenModal {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

